<table class="table table-bordered table-condensed">
<tbody>
<tr class="feed_bottom_row">
  <td>
      <span class="update">
        <% if current_user?(@stitch.user) || current_user.admin? %>
              <%= render 'shared/update_link', feed_item: @stitch %>
          <% end %>
      </span>
  </td>
  <td>
      <span class="timestamp">
        Posted <%= time_ago_in_words(@stitch.created_at) %> ago by <%= link_to @stitch.user.username, @stitch.user %>
      </span>
      <%= get_status(@stitch) %>
  </td>
</tr>
<tr>
  <td>Description</td>
  <td><em><%= simple_format @stitch.description %></em></td>
</tr>
<tr>
  <td>Notes</td>
  <td><%= simple_format @stitch.notes %></td>
</tr>
</tbody>
</table>