<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <p>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </p>
      <h5>
        <i class="icon-user"></i> <%= @user.username %>
      </h5>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.stitches.any? %>
        <h5><i class="icon-tasks"></i> Stitches <span class="badge"><%= @user.stitches.count %></span></h5>
        <%= render 'shared/feed' %>
    <% end %>
  </div>
</div>