<h2><%= @video.title %></h2>
<p><%= h @video.panda_video.inspect %></p>

<% if @video.panda_video.status == "success" %>
    <video id="movie" width="<%= @h264_encoding.width %>" height="<%= @h264_encoding.height %>" preload="none"
           poster="<%= @h264_encoding.screenshots.first %>" controls>
      <source src="<%= @h264_encoding.url %>" type="video/mp4">
    </video>
<% end %>