<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/stitch_form' %>
    </section>
  </aside>
  <div class="span8">
    <h3>Stitch Feed <span class="badge badge-info"><%= Stitch.count_unfinished %></span></h3>
    <%= render 'shared/feed' %>
  </div>
</div>