<%= form_for(@stitch) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <h5><i class="icon-pencil"></i> New Stitch</h5>
    <%= f.text_field :name, placeholder: "Name" %>
    <div class="field">
      <%= f.text_area :description, placeholder: "Description (external)" %>
    </div>
    <div class="field">
      <%= f.text_area :notes, placeholder: "Notes (internal)" %>
    </div>

    <% n = 0 %>
    <% @images.each do |image| %>
        <%= text_field_tag "image[][url]", nil, placeholder: "Image URL...", id: "image-#{n}" %>
        <% n = n+1 %>
    <% end %>

    <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>